---
import Base from "../layouts/Base.astro"
---

<Base>
  <main slot="head">
    <title>هفارستور — hvarstore</title>
    <meta name="description" content="هفارستور — تسوق أحدث الأجهزة المنزلية والإلكترونيات" />
  </main>
  <main>
    <h1 class="text-2xl font-bold text-hvar-red-600">هفارستور</h1>
  </main>
</Base>
