FLASK_ENV=production
SECRET_KEY='a_very_secret_key_change_in_production'

# Database configuration
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=pigo
DATABASE_PASSWORD=devpass123
DATABASE_NAME=mcrm_hvar_hub

# Bosta API configuration
BOSTA_API_KEY="d95cd0c6ebd2efc95e35d744eb07463139b9d45262cbd2dd956c27fca8d11cc7"
BOSTA_TOKEN="d95cd0c6ebd2efc95e35d744eb07463139b9d45262cbd2dd956c27fca8d11cc7"
BOSTA_BASE_URL="https://app.bosta.co"

ERP_DEFAULT_USERNAME=kariemseiam
ERP_DEFAULT_PASSWORD=123123
